SERVICE_PORT: {{ opengreenhousemanager_auth_service_port }}
DATABASE_URL: "postgres://{{ postgres_user }}:{{ postgres_password }}@{{ base_url }}:{{ postgres_port }}/auth"
JWT_SECRET: "{{ opengreenhousemanager_auth_service_jwt_secret }}"
SENTRY_URL: "{{ opengreenhousemanager_auth_service_sentry_url }}" 