SERVICE_PORT: {{ opengreenhousemanager_data_storage_port }}
DATABASE_URL: "postgres://{{ postgres_user }}:{{ postgres_password }}@{{ base_url }}:{{ postgres_port }}/data"
SENTRY_URL: "{{ opengreenhousemanager_data_storage_sentry_url }}" 