SERVICE_PORT: {{ opengreenhousemanager_scripting_service_port }}
DATABASE_URL: "postgres://{{ postgres_user }}:{{ postgres_password }}@{{ base_url }}:{{ postgres_port }}/scripting"
SENTRY_URL: "{{ opengreenhousemanager_scripting_service_sentry_url }}" 
SCRIPTING_API: "http://{{ base_url }}:{{ opengreenhousemanager_script_api_port }}"
ENVIRONMENT: "{{ deployment_environment }}"
