API_PORT: {{ opengreenhousemanager_script_api_port }}
SERVICE_ADDRESSES: 
  SCRIPTING_SERVICE: "http://{{ base_url }}:{{ opengreenhousemanager_scripting_service_port }}"
  DATA_STORAGE_SERVICE: "http://{{ base_url }}:{{ opengreenhousemanager_data_storage_port }}"
SENTRY_URL: "{{ opengreenhousemanager_script_api_sentry_url }}"
ENVIRONMENT: "{{ environment }}" 