API_PORT: {{ opengreenhousemanager_web_api_port }}
SERVICE_ADDRESSES: 
  SCRIPTING_SERVICE: "http://{{ base_url }}:{{ opengreenhousemanager_scripting_service_port }}"
  DATA_STORAGE_SERVICE: "http://{{ base_url }}:{{ opengreenhousemanager_data_storage_port }}"
  AUTH_SERVICE: "http://{{ base_url }}:{{ opengreenhousemanager_auth_service_port }}"
  DEVICE_SERVICE: "http://{{ base_url }}:{{ opengreenhousemanager_device_service_port }}"
SENTRY_URL: "{{ opengreenhousemanager_web_api_sentry_url }}"
ENVIRONMENT: "{{ environment }}" 