global:
  scrape_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: 'http_sd'
    http_sd_configs:
      - url: "{{ prometheus_http_sd_url }}"
        refresh_interval: "{{ prometheus_http_sd_refresh }}"

  - job_name: 'postgres'
    static_configs:
      - targets: ["{{ database_base_url }}:{{ postgres_exporter_port }}"]

  - job_name: 'loki'
    static_configs:
      - targets: ["{{ database_base_url }}:3100"]

  - job_name: 'node_exporter'
    static_configs:
      - targets: ["{{ database_base_url }}:9100"]
